{% extends 'base.html'%}

{% block content %}
    <div class="container mt-4">
        <h1 class="text-center">{{ username }}</h1>
        <p class="text-muted text-center">Recetas</p>
        <ul class="list-group">
            {% for recipe in user_recipes %}
                <li class="list-group-item">
                    <a href="{{ url_for('recipe_detail', recipe_id=recipe.id) }}">{{ recipe.title }}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="text-center mt-3">
            <a href="{{ url_for('index') }}" class="btn btn-primary">Back to Home</a>
        </div>
    </div>
{% endblock %}