{% extends 'base.html'%}

{% block content %}
    <div class="container mt-4">
        <h1 class="text-center">{{ user.username }}</h1>
        <p class="text-muted text-center">Posts</p>
        <ul class="list-group">
            {% for post in posts %}
                <li class="list-group-item">
                    <strong>ID:</strong> {{ post.id }}<br>
                    <strong>Tipo:</strong> {{ post.content_type }}<br>
                    <strong>Descripción:</strong> {{ post.description }}<br>
                    <strong>Receta ID:</strong> {{ post.recipie_id }}<br>
                    <strong>Likes:</strong> {{ post.likes }}
                </li>
            {% endfor %}
        </ul>
        <div class="text-center mt-3">
            <a href="{{ url_for('index') }}" class="btn btn-primary">Back to Home</a>
        </div>
    </div>
{% endblock %}